<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Restore Password</h2>
    <h3><span>Hi </span><span>User</span></h3>
    <h4>Click in this link for access in your account</h4>
    <a th:href="@{http://start.spring.io/}"><button>Ir a mi cuenta</button></a>
</body>
</html>